/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

header, footer{
    background-image: url('/images/blk-bg2.webp');
    background-position: center;
}
p {
    @apply mb-3
}